@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Coda+Caption:wght@800&family=Quicksand&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
 	font-family: 'Lora', sans-serif;
 	background-color: rgb(255, 255, 255);
 	font-size: 18px;
 	margin : 0px;
 }

 h1, h2, h3 {
 	font-family: 'Quicksand', sans-serif;
 	font-weight: bold;
 	line-height: 1.6;
 	letter-spacing: 2px;
 }

a {
	text-decoration: none;
}